{%extends '::base.html.twig'%}

{% block title%}
    Composants
{% endblock %}

{%block body%}
    
          
                
              
                
    <table id="components"  class="menu_composant">
        <tr>
           {% for header in model.headers %}
               <th >{{header}}</th>
           {% endfor %}
        </tr>
        {% for row in model.rows %}
            <tr>
               {% for column in row %}
                 <td ><span> {{ column }}</span></td>
               {% endfor %}
            </tr>
        {% endfor %}
            
            
            
    </table>
                
         
{%endblock%}
