{%extends '::base.html.twig'%}
{% block title%}
    Produits
{% endblock %}

{%block body%}
    <table id="components"  class="menu_composant" >
        <tr>
           {% for header in model.headers %}
               <th >{{header}}</th>
           {% endfor %}
        </tr>
        {% for row in model.rows %}
            <tr>
               {% for column in row %}
                 <td> {{ column }}</td>
               {% endfor %}
            </tr>
        {% endfor %}
    </table>
{%endblock%}
